/* CSS for mobile */
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  
}

.header-head{
    margin-top: 80px;
    margin-left: 70px;
}
.header-head h1{
    padding-bottom: 5px;
    font-weight: lighter;
}
strong{
font-weight: 900px;
}
.header-head h2{
    font-weight: lighter;
}
.header-head::after{
    clear: both;
    display: table;
    content: '';
}
.spacing-1{

    margin-left: 70px;
    margin-top: 20px;
    
   
}
.spacing-2 {
    display: none;
}
.spacing-1 h2{
    font-size: 18px;
    font-weight: lighter;
    padding-bottom: 1px;
}

.another{
    margin-top: 40px;
    
}
.another h2{
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.another a {
text-decoration: none;
color: black;
}
.another ul li{
    list-style-type: disc;
    list-style-position: inside;
    padding: 2px;
}
.another ul li a{ 
    font-weight: bold;
}
.another a:hover{
    color: blue;
}
.last{
    margin-top: 90px;
}
.last i{
    font-size: 2.73em;
    color: black;
    padding: 2px;
}
.last i:hover{

    color: blue;
}


.main-body::after{
    clear: both;
    display: table;
    content: '';
}


